<header id="partial-header">
  <script src="https://kit.fontawesome.com/e6936a79ca.js" crossorigin="anonymous"></script>
  <nav>
    <a href="../../feed">
      <div class="flex-container">
        <img id="logo-img" src="../../resources/lbs logo 2.png" />
        <h2 id="logo-text">Lyftbros</h2>
      </div>
    </a>
    <a href="../../log-workout">
      <button type="button" class="nav-button primary-button" id="log-training-button">Log workout</button>
    </a>
    <a href="../../feed">
      <button type="button" class="nav-button secondary-button" id="dashboard-button">Dashboard</button>
    </a>
  </nav>
    <div class="dropdown flex-container">
      <img class="dropbtn" id="account-pic" src="../../resources/profile pic.png" /><i class="fas fa-caret-down"></i>
      <div class="dropdown-content">
        <a href="/account">Account</a>
        <a href="/logout">Logout</a>
      </div>
    </div>
</header>