<header>
  <nav>
    <a href="feed.html">
      <div class="flex-container">
        <img id="logo-img" src="../../resources/Lbs logo fat.PNG" />
        <h2 id="logo-text">Lyftbros</h2>
      </div>
    </a>
    <a href="../../training.html">
      <button type="button" class="nav-button primary-button" id="log-training-button">Log training</button>
    </a>
    <a href="../../feed">
      <button type="button" class="nav-button secondary-button" id="dashboard-button">Dashboard</button>
    </a>
    <a href="../../exercises.html">
      <button type="button" class="nav-button secondary-button" id="exercises-button">The lyfts</button>
    </a>
      <button type="button" class="nav-button secondary-button" id="diary-button">The diary</button>
  </nav>
  <div class="flex-container" id="account-container">
    <img id="account-pic" src="../../resources/profile pic.png" />
  </div>
</header>