<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="icon" href="./resources/Lbs logo fat.PNG" type="image/x-icon" />
    <title>Logout</title>
  </head>
  <body>
    <header class="flex-container" id="login-header">
      <img id="logo-img" src="resources/Lbs logo fat.PNG" />
      <h2 id="logo-text">Lyftbros</h2>
    </header>
    <main id="login-main">
      <div class="flex-container">
        <h4>You have successfully logged out.</h4>
      </div>
    </main>
  </body>
</html>
