<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="icon" href="./resources/lbs logo 2.png" type="image/x-icon" />
    <title>Logout</title>
  </head>
  <body>
    <header className="flex-container" id="login-header">
      <img id="logo-img" src="resources/lbs logo 2.png" />
      <h2 id="logo-text">Lyftbros</h2>
    </header>
    <main>
      <h4>You have successfully logged out.</h4>
      <a href="/"><button className="nav-button primary-button" type="button" id="login button">Go to login</button> </a>
    </main>


  </body>
</html>
