<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../../style.css" />
    <link href="https:#stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="icon" href="../../resources/Lbs logo fat.PNG" type="image/x-icon" />
    <title>Workout details</title>
  </head>
  <body>
    <%- include("_header") -%>

    <main id="workout-main">

      <div class="container-box tile" id="workout-details-container">
        <p><%= workout[0].workout_name %></p>
      </div>

    
    </main>
  </body>
</html>
