/* ------------------------- General ------------------------- */

html {
  height: 100%;
}

body {
  font-family: sans-serif;
  margin: 0;
  height: 90%;
}

h4, h5, h6 {
  margin: 2% 0%;
}



nav {
  display: flex;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:hover {
  color: gray;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:visited:hover {
  color: gray;
}


#logo-img {
  height: 50px;
  display: inline-flex;
  margin: 5px 10px;
}

#logo-text {
  align-self: center;
  margin: 0;
  display: inline;
}

main {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100%;
  background-color: rgb(247, 247, 250);
  margin-top: 60px;
}


.container-box {
  margin: 8px 4px 0px 4px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.15);
  padding: 8px;
  background-color: white;
  border-radius: 4px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.inline-container {
  display: inline-block;
}


table {
  font-size: 0.8em;
  width: 600px;
}

th {
  text-align: left;
  width: 25%;
  background-color: rgb(243, 243, 243);
}

th, td {
  padding: 8px;

}

table, th, td {
  border-bottom: 1px solid rgb(233, 233, 233);
  border-collapse: collapse;
}

i {
  margin: 5px;
  color: lightgray;
  cursor: pointer;
}

i:hover {
  color: grey;
}

/* ------------------------- Login ------------------------- */

#login-header {
  justify-content: start;
  align-items: center;
}

#login-main {
  margin-top: 0px;
  background-image: url("./resources/gym-horizontal.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-content: center;

}

#login-form {
  width: 180px;
  margin: 10px auto;
}

#title {
  text-align: center;
  background-color: rgb(247, 247, 250);
}

#login-and-register-container {
 align-items: center;
}

#show-create-account-form {
  display: inline-block;
  height: 20px;
  text-align: center;
  padding: 5px;
  color: white;
  margin-top: 10px;
  background-color: rgb(0,0,0,0.7);
  border-radius: 4px;

}

.link {
  text-decoration: underline;
}

.link:hover {
  color: lightgray;
  cursor: pointer;
}



#user-created {
  text-align: center;
  margin: 20px 0px;
  background-color: rgb(0,0,0,0.7);
  border-radius: 4px;
  padding: 5px;
  color: white;
}

.error-message {
  color: red;
  font-size: small;
}

label, span {
  font-size: small;
}

input, select {
  margin: 4px 0px;
}

button {
  margin: 5px 5px 5px 0px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  border: 1px solid rgb(240, 240, 240);
}



/* ------------------------- Login for mobile  ------------------------- */

@media only screen and (max-width: 480px) {

  #login-header {
    height: 65px;
  }

  #login-main {
    background-image: url("./resources/gym-portrait.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  #login-and-register-container { 
    margin-top: 100px;
  }

  #show-create-account-form {
    color: white;
    margin-top: 10px;
    height: 15px;
    background-color:rgb(0,0,0,0.7);
  }

  .container-box {
    margin: 4px;
  }

}


/* ------------------------- Header ------------------------- */

#partial-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(233, 233, 233);
  position: fixed;
  background-color: white;
  top: 0;
  width:100%;

}

nav {
  align-items: center;
}

.nav-button {
  height: 30px;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.primary-button {
  margin: auto 10px auto 30px;
  background-color: black;
  color: white;
  border: 1px solid black;
}

.secondary-button {
  margin: auto 10px auto 10px;
  background-color: white;
  color: black;
  border: 1px solid black;
}

button:hover {
  background-color: lightgray;
  border: 1px solid lightgray;
}

#account-pic {
  height: 35px;
  border-radius: 100%;
  
}

.dropdown {
  align-items: center;
  justify-content: center;
  margin-right: 3%;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 69px;
  border: 1px solid rgb(233, 233, 233);
  background-color: white;
  min-width: 100px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: small;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
  border-top: white;

}

/* ------------------------- Header for mobile  ------------------------- */

@media only screen and (max-width: 480px) {

  #partial-header {
  position: fixed;
  height: 60px;
  }

  #logo-text {
    display: none;
  }

  .nav-button {
    margin: 0px 5px;
    font-size: larger;
    padding: 5px;
    min-width: 100px;
  }

}

/* ------------------------- Feed ------------------------- */

#stat-container {
  width: 15%;
}

#stat-container p {
  font-size: small;
  margin: 2px 0px;
}

.inner-container {
  margin: 25px 0px 10px 0px;
}

#feed-container {
  width: 40%;
}

#leaderboard-container {
  min-width: 15%;

}

#leaderboard-heading {
  margin-bottom: 0px;
}

#leaderboard-container span {
  font-size: 13px;
  margin: 2px 0px;
}

.value {
  font-weight: bold;
}

.list-item {
  justify-content: space-between;
}

.unit {
  font-size: 11px;
  color: gray;
}

.user-name {
  margin: 2px 0px;
}

.subtitle {
  font-size: 11px;
  margin: 2px 0px;
  color: rgb(148, 148, 148);

}

.workout-name {
  margin-bottom: 8px;
}

.workout-summary {
  justify-content: flex-start;
}

.flex-summary-item {
  margin-right: 30px;
}

.sets-table {
  width: 100%;
}

.comment-section {
  align-items: center;
  justify-content: space-between;
}

.comment-section span {
  font-size: 12px;
}

.comment-section span:hover {
  color: gray;
  cursor: pointer;
}

.comment-button { 
  height: 30px;
  width: 50px;
  border-radius: 4px;
  margin: 5px 2px;
  font-size: small;

}

.comment-button:hover { 
background-color: white;
cursor: pointer;

}

.comment-button i {
  color: black;

}

.user-list-item {
  margin: 4px 0px;
  font-size: 15px;
}

/* ------- Feed comment modal -------------- */

.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

#fist-bumps-table {
  width: 100%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* ------------------------- Feed for mobile  ------------------------- */

@media only screen and (max-width: 480px) {

  #stat-container {
    width: 43%;
    order: 1;
    min-height: 250px;

  }

  #leaderboard-container {
    order: 2;
    width: 43%;
    min-height: 250px;
  }

  #feed-container {
    order: 3;
    width: 100%;
  }



}


/* ------------------------- Log workout ------------------------- */

.tip-container {
  display: block;
  width: 100vw;

}

.tip-container p {
  font-size: small;
  text-align: center;
  margin: 0px;
}

#tabs-container {
  width: 52%;
  display: flex;
}

.tab-button {
  width: 50%;
  height: 30px;
  margin: 0px;
  background-color: white;
  font-size: medium;
  font-weight: bold;
}

.tab {
  display: flex;
  width: 52%;
  justify-content: center;
  flex-wrap: wrap;

}

.lift-history {
  width: 1000%;
}

#log-training-container {
  width: 100%;
}

#log-training-form {
  width: 100%;
  display: inline-block;

}

#log-training-form input {
  width: 80px;
  font-size: larger;
  font-weight: bold;
  text-align: center;

  vertical-align: middle;

}

#log-training-form i {
  vertical-align: middle;
  margin: 0px;
}


#log-training-form select {
  width: 200px;
}


#log-training-form label {
  display: inline-block;
  width: 90px;
  margin: 5px 0px;
}

#lift-history {
  width: 100%;
}

.button-container {
  justify-content: space-between;
}


#add-new-lyft-button {
  display: inline;
  margin: auto 5px;
}

#add-lyft-container {
  display: none;
  width: 100%;

}

#add-lyft-container label {
  display: inline-block;
  width: 100px;
}

#add-lyft-container select {
  width: 200px;
}

#add-lyft-container input {
  width: 195px;
}


#new-workout-container {
  width: 100%;
  display: none;
}

#workout-table {
  width: 100%;
}

#workout-table th, #workout-table td {
  padding: 4px;
}

.weight {
  font-size: medium;
}

.id {
  display: none;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: grey;
  color: #fff;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  padding: 5px 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;

}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* ------------------------- Log workout for mobile  ------------------------- */

@media only screen and (max-width: 480px) {

  #log-training-container {
    width: 100%;
    padding: 10px;
    margin: 2px;
    font-size: medium;
  }

  #add-lyft-container {
    width: 100%;
    font-size: 20px;
  }

  #add-lyft-container label {
    font-size: medium;
  }

  #add-lyft-container select {

    width: 230px;
  }

  #add-lyft-container input {
    font-size: large;
    width: 225px;
  }

  #tabs-container {
    width: 100%;
  }

  .tab {
    width:100%;
  }

  #log-training-form label {
    font-size: medium;
  }

  #log-training-form select {
    font-size: large;
    width: 230px;
  
  }

  #save-lyft-button {
    margin-top: 10px;
  }

  #new-workout-container {
    width: 100%;
    margin: 1%;
    font-size: 20px;
  }

  #workout-table {
    width: 100%;
  }



}


/* ------------------------- User details ------------------------- */

#user-summary-container {
  width: 15%;
}

 #user-summary-container span {
   font-size: 13px;
   margin: 2px 0px;
 }

 #user-activity-container {
   width: 40%;
 }
 
 #user-prs-container {
   width: 30%;
 }

 #user-prs-container table {
  width: 100%;
 }

 /* ------------------------- User details for mobile  ------------------------- */

@media only screen and (max-width: 480px) {

  #user-summary-container {
    width: 100%;
    order: 1;
  }

  #user-prs-container {
    order: 2;
    width: 100%;
  }

  #user-activity-container {
    order: 3;
    width: 100%;
  }

}

 /* ------------------------- Logout ------------------------- */

 #logout-main {
  margin-top: 0px;

  display: inline-block;
  text-align: center;
 }

 #logout-main h4 {
  display: block;
  margin: 30px 0px;

 }


/* ------------------------- Account ------------------------- */

 #account-details-container {
   width: 60%;
 }

 #account-details-container p {
  font-size: small;
}

#account-details-container label {
  display: inline-block;
  width: 100px;
  margin-top: 7px;
}

#account-details-container input {
  display: inline-block;
  width: 195px;
}

#account-details-container select {
  display: inline-block;
  width: 200px;
}


#account-details-container span {
  font-weight: bold;
  font-size: small;
}

#account-details-container button {
margin-top: 10px;
}



.hidden {
  display: none;
}

 /* ------------------------- Account for mobile  ------------------------- */

 @media only screen and (max-width: 480px) {

  #account-details-container {
    width: 100%;

  }
}

/* ------------------------- Workout details   ------------------------- */

#workout-container {
  width: 60%;
}

/* ------------------------- Workout details for mobile  ------------------------- */

@media only screen and (max-width: 480px) {

  #workout-container {
    width: 100%;

  }
}