/* ------------------------- General ------------------------- */

html, body {
  font-family: sans-serif;
  margin: 0;
  height: 100%;
}

h4 {
  margin: 10px 0px;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(233, 233, 233);
}

nav {
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: gray;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:visited:hover {
  color: gray;
}


#logo-img {
  height: 50px;
  display: inline-flex;
  margin: 5px 10px;
}

#logo-text {
  align-self: center;
  margin: 0;
  display: inline;
}

main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 90%;
  background-color: rgb(247, 247, 250);
}

.container-box {
  margin: 10px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.15);
  padding: 15px;
  background-color: white;
  border-radius: 4px;
}

.flex-container {
  display: flex;
}

.inline-container {
  display: inline-block;
}


table {
  font-size: 0.8em;
  width: 600px;
}

th {
  text-align: left;
  width: 25%;
  background-color: rgb(243, 243, 243);
}

th, td {
  padding: 8px;

}

table, th, td {
  border-bottom: 1px solid rgb(233, 233, 233);
  border-collapse: collapse;
}

i {
  margin: 5px;
  color: lightgray;
  cursor: pointer;
}

i:hover {
  color: grey;
}

/* ------------------------- Login ------------------------- */

#login-header {
  justify-content: start;
}

#title {
  text-align: center;
  background-color: rgb(247, 247, 250);

}

#title-text {
  margin: 0;
  padding: 40px 0px;
}

#user-created {
  text-align: center;
  margin: auto 0px;
  display: none;
}

.error-message {
  color: red;
  display: none;
  font-size: small;
}

label, span {
  font-size: small;
}

input, select {
  margin: 5px 0px;
}

button {
  margin: 10px 0px;
}



/* ------------------------- Header ------------------------- */

nav {
  align-items: center;
}

.nav-button {
  height: 30px;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.primary-button {
  margin: auto 10px auto 30px;
  background-color: black;
  color: white;
  border: 1px solid black;
}

.secondary-button {
  margin: auto 10px auto 10px;
  background-color: white;
  color: black;
  border: 1px solid black;
}

button:hover {
  background-color: lightgray;
  border: 1px solid lightgray;
}

#account-pic {
  height: 35px;
  border-radius: 100%;
  
}

.dropdown {
  align-items: center;
  justify-content: center;
  margin-right: 60px;
}





.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 69px;
  border: 1px solid rgb(233, 233, 233);
  background-color: white;
  min-width: 100px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: small;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
  border-top: white;

}

/* ------------------------- Feed ------------------------- */

#stat-container {
  width: 15%;
}

#stat-container p {
  font-size: small;
  margin: 2px 0px;

}

#feed-container {
  width: 35%;
}

#bros-container {
  width: 15%;
}

.user-name {
  margin: 2px 0px;
}

.workout-date {
  font-size: 11px;
  margin: 2px 0px;
  color: rgb(148, 148, 148);

}

.sets-table {
  width: 100%;
}

.comment-section {
  align-items: center;
  justify-content: space-between;
}

.comment-section span {
  font-size: 12px;


}

.comment-section span:hover {
  color: gray;
  cursor: pointer;
}

.comment-button { 
  height: 30px;
  width: 50px;
  border: none;
  border-radius: 4px;
}

.comment-button:hover { 
background-color: white;
cursor: pointer;

}

.comment-button i {
  color: black;

}

.user-list-item {
  margin: 4px 0px;
  font-size: 15px;
}

/* ------- Feed comment modal */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

#fist-bumps-table {
  width: 100%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* ------------------------- Log training ------------------------- */

#log-training-container {
  min-width: 250px;
}

#log-training-form {
  min-width: 250px;
  display: inline-block;
}

#log-training-form input {
  width: 150px;
}

#log-training-form select {
  width: 155px;
}

#log-training-form label {
  display: inline-block;
  width: 70px;
}

#add-lyft-container {
  display: none;
}

#workout-name {
  display: inline-block;
}

#workout-name-input {
  display: none;
}

#save-workout-name-button {
  display: none;
}

#workout-owner {
  margin-top: 15px;
}

.id {
  display: none;
}


/* ------------------------- User details ------------------------- */

#user-summary-container {
  width: 25%;
}

 #user-summary-container p {
   font-size: 14px;
   margin: 5px 0px;
 }

 #user-activity-container {
   width: 30%;
 }
 
 #user-prs-container {
   width: 25%;
 }

 #user-prs-container table {
  width: 100%;
 }

 /* ------------------------- Logout ------------------------- */

 #logout-main {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

 }

/* ------------------------- Account ------------------------- */

 #account-details-container {
   width: 60%;
 }

 #account-details-container p {
  font-size: small;
}

#account-details-container span {
  font-weight: bold;
  font-size: small;
}

#account-details-container input, #account-details-container select  {
  display: none;
}

.hidden {
  display: none;
}