body {
  font-family: sans-serif;
}

h4 {
  margin: 10px 0px;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  border-bottom: 1px solid rgb(233, 233, 233);
}

nav {
  display: flex;
}

#title {
  text-align: center;
}

#logo-img {
  height: 50px;
  display: inline-flex;
  margin: 5px 10px;
}

#logo-text {
  align-self: center;
  margin: 0;
  display: inline;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container-box {
  margin: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 200px;
  padding: 15px;
}

/* ------------------------- Login ------------------------- */

#user-created {
  text-align: center;
  margin: auto 0px;
  display: none;
}

.error-message {
  color: red;
  display: none;
  font-size: small;
}

label {
  font-size: small;
}

input {
  margin: 5px 0px;
}

button {
  margin: 10px 0px;
}

/* ------------------------- Feed ------------------------- */

.nav-button {
  height: 30px;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 4px;
}

.primary-button {
  margin: auto 10px auto 30px;
  background-color: black;
  color: white;
  border: none;
}

.secondary-button {
  margin: auto 10px auto 10px;
  background-color: white;
  color: black;
  border: 1px solid black;
}

#account-container {
  display: flex;
}

#account-pic {
  height: 35px;
  border-radius: 100%;
  margin: auto 40px;
}

#feed-main {
  justify-content: space-between;
}

#feed-header {
  margin-bottom: 5px;
}

#stat-container {
  width: 15vw;
}

#feed-container {
  width: 50vw;
}

#bros-container {
  width: 15vw;
}
